.gallery-list {
    overflow-y: auto;
    height: 80vh;
}

.gallery-item {
    border-radius: 10px;
    height: 300px;
    width: 250px;
    cursor: pointer;
}

.gallery-item-modal-content {
    border-radius: 10px;
    height: 80vh;
    width: 30vw;
}

.gallery-item-text {
    position: relative;
    margin-top: -40px;
    max-width: 250px;
    background: rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 40px;
    cursor: pointer;
}

.col-3 .gallery-item-text {
    display: none;
}

.col-3:hover .gallery-item-text {
    display: block;
}


#goHome {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    background-color: rgba(149,192,226, 0.3);
    height: 80px;
    width: 80px;
}

#goHome:hover {
    background-color: #555;
}
