.hidden {
    display: none;
}

#goHome {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    background-color: rgba(149,192,226, 0.3);
    height: 80px;
    width: 80px;
}

#goHome:hover {
    background-color: #555;
}
